language: python
python:
 - "3.6"
 
install: "pip3 install -r requirments.txt"
script: 
  - python3 src/server/backendServer/manage.py runserver 127.0.0.1:8000 &
  - sleep 3
  - bash test/test_main.sh
