{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="update information page">
        <meta name="author" content="JiahongHe">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title> New User Registration </title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Hello, these are your current information
                    </h1>
                    <p>After updating your infomation, press save button</p>
                </div>
                <form id="form" action="{% url 'userUpdate' %}?userId={{ userId }}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="visibility: hidden">
                    <label for="User ID">Your user Id</label>
                    {{ form.userId }}
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    {{ form.FirstName }}
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    {{ form.LastName }}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.Email }}
                    <small id="emailHelp" class="form-text text-muted">Your email would be used as your username.</small>
                </div>
                <div class="form-group">
                    <label for="userImage">Your photo</label> <br>
                    {{ form.Image }}
                </div>
                <div class="form-group">
                    <label>Favourite Song</label>
                    {{ form.FavouriteSong }}
                </div>
                <div class="form-group">
                    <label>Password</label>
                    {{ form.passWord }}
                </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>