{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="description" content="update defaults">
        <meta name="author" content="Evan Ziebart">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title> Update Defaults </title>
    </head>
    <body>
    	<div class="container">
    		<div class="row">
    			<div class="col-12">
    				<h1>Update Defaults</h1>
    			</div>
    			<form>
    				<div class="form-group">
                        <label for="default">Play when we see someone we don't know</label><br>
                        {{ form.default }}
                    </div>
                    <div class="form-group">
                        <label for="error">Play when something goes wrong :(</label><br>
                        {{ form.error }}
                    </div>
				</form>
    		</div>
    	</div>
    </body>
</html>